
@schrift-gesicht {
}

ü1 {
  text-transform: hochgestellt;
}

körper {
  font-family: 'Arial';
  font-size: 18px;
}

artikel:first-child > ü1 {
  width: 600px;
  margin: automatisch;
  background: leichtgrau;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding: 2px;
}

körper artikel {
  width: 600px;
}
