
@font-face {
}

h1 {
  schrifttransormation: hochgestellt;
}

body {
  schriftgröße: 18px;
}

article:first-child > h1 {
  breite: 600px;
  aussenabstand: automatisch;
  background: leichtgrau;
  innenabstand: 2px 10px;
}

body article {
  breite: 600px;
}
