body {
  font-family: 'Arial';
  font-size: 18px;
}

article:first-child > h1 {
  width: 600px;
  rand: auto;
  background: leichtgrey;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  innenrand: 2px;
}

body article {
  width: 600px;
}
